<!-- The create video view -->
<section data-ng-controller="VideoListController" id="video-list">
    <div class="top-grids">
        <div class="recommended-info">
            <h3>Videos</h3>
        </div>
        <div class="col-md-4 resent-grid recommended-grid slider-top-grids" ng-repeat="video in videos">
            <div class="video-box">
                <div class="resent-grid-img recommended-grid-img vido-item" ng-click="pauseOrPlay($event)">
                    <video class="video-control" id="{{video._id}}" >
                        <source ng-src="{{video.url}}" type="video/mp4">
                        <source ng-src="{{video.url}}" type="video/ogg">
                    </video>
                    <div class="playpause"></div>
                </div>
                <div class="resent-grid-info recommended-grid-info">
                    <h3><a href="#!/videos/{{video._id}}" class="title title-info">{{video.name}}</a></h3>
                    <div star-rating rating-value="video.rating" max="max" on-rating-selected="getSelectedRating(video._id, rating)"></div>
                </div>
            </div>
        </div>
    </div>
</section>
